* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3vh 0;
}

.underline {
    position: relative;
}

.underline::after {
    position: absolute;
    content: '';
    bottom: -6px;
    width: 0;
    background-color: #d53535;
    height: 2px;
    left: 0;
    transition: width 0.2s ease-in-out;
}

.underline:hover::after {
    width: 100%;
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.header-menu>a {
    text-decoration: none;
    color: grey;
}

.header-menu>a:hover {
    color: #3d3d3d;
}

h1 {
    font-weight: bolder;
    cursor: pointer;
}

h1>span {
    color: red;
    cursor: pointer;
}

.book-button {
    background-color: #d53535;
    border: none;
    padding: 1.3vh 3vh;
    border-radius: 20px;
    color: white;
}

.book-button:hover {
    background-color: #d34848;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    color: grey;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 4vh;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;

}

.dropdown-content>a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: #3d3d3d;
}

.hero-sec {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f2f2f2;
    padding: 5vh 8vw;
}

.handwritten {
    font-family: 'Shadows Into Light', cursive;
    font-size: 3.5rem;
    width: 20vw;
}

.watch-vid-btn {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 1vh;
    cursor: pointer;
}

.watch-vid-btn:hover {
    color: #d53535;
    transition: 0.3s;
}

.watch-icon {
    font-size: 2rem;
    color: #d53535;
}

.hero-btns {
    display: flex;
    gap: 1vw;
}

.floating-img {
    width: 30vw;
    animation: float 3s ease-in-out infinite;
}

.hero-txt {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.hero-txt p {
    font-size: larger;
    color: grey;
    width: 20vw;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.76);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
}

.modal-container.show {
    opacity: 1;
    pointer-events: auto;
}

.modal iframe {
    max-width: 100%;
}

.modal button {
    position: fixed;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
    font-size: 3rem;
    padding: 2vh;
    color: grey;
    cursor: pointer;
}

.second-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vh 0;
    gap: 3vh;
}

.second-sec-imageText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3vw;
}

.second-sec-image {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.second-sec-image img {
    width: 30vw;
}

.second-sec-text {
    display: flex;
    flex-direction: column;
    width: 18vw;
    gap: 3vh;
}

.second-sec-text div p span {
    color: #d53535;
}

.AboutText {
    font-family: 'Shadows Into Light', cursive;
    font-size: 2rem;
}

.aboutUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bookNumber {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #3d3d3d solid 3px;
    padding: 1vh 0;
}

.bookNumber h1 {
    color: #d53535;
}

.img-wrapper {
    position: relative;
    display: inline-block;
}

.img-wrapper img {
    width: 35vh;
    display: block;
}

.img-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background: #00000099;
    color: white;
    font-size: 2.5rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.img-btn:hover {
    background: #000000cc;
}